{% extends "main/main_base.html" %}

{% load static %}

<!--Nav-->

{% block nav %}
<div class="navbar-nav">
  {% if user.is_authenticated  %}
  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
  {% endif %}
</div>

{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">


<div class="border-top pt-3">
    <small class="text-muted">
        <a class="ml-2" href="{% url 'login' %}">Log In</a>
    </small>
</div>


{% endblock content %}